.container {
   margin: 100px 190px;
   padding-top: 200px;
   padding-left: 100px;
}

.container_title {
    text-align: center;
}

.container_section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width:1000px;
}


.form {
    display: flex;
    flex-direction: column;
    position: absolute; 
    left:1500px;
    bottom:0px;
}
.form_label1{
    font-size:2rem;
    padding-left: 40px;
}

.form_input {
    width: 150px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 25px;


}
.btnComprar {
    width: 100px;
    height: 20px;
    margin-left: 45px;
    background-color: red;
    border: none;

}

.btnTransaccion {
    background-color:black;
    color: white;
    position: absolute;
    left: 150px;  
    width:200px;
    height: 25px;
    top: 1250px;  
}

